{{#each errors}}
  <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}

<div class="card card-body">
  <h3>Edit Video Clip Information</h3>
  <form method="post" action="/clips/{{clip.id}}?_method=PUT">
    <input type="hidden" name="_method" value="PUT">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" value="{{clip.title}}">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea name="description" id="descr" class="form-control" cols="30" rows="5">{{clip.description}}</textarea>
    </div>
    <div class="form-group">
      <label for="style">Style</label>
      <input type="text" class="form-control" name="style" value="{{clip.style}}">
    </div>
    <div class="form-group">
      <label for="director">Director</label>
      <input type="text" class="form-control" name="director" value="{{clip.director}}">
    </div>
    <div class="form-group">
      <label for="duration">Duration in seconds</label>
      <input type="number" class="form-control" name="duration" value="{{clip.duration}}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
