{{#each clips}}
  <div class="card card-body mb-2">
    <h3>{{title}}</h3>
    <p>{{description}}</p>
    <h4>{{style}}</h4>
    <h5>{{director}}</h5>
    <h6>{{duration}}<span> seconds</span></h6>
    <a href="/clips/edit/{{id}}"><button class="btn btn-primary">Edit</button></a>
    <form method="post" action="/clips/{{id}}?_method=DELETE">
      <input type="hidden" name="_method" value="DELETE">
      {{!-- <input type="submit" class="btn btn-danger btn-block mt-2" value="Delete"> --}}
      <button type="submit" class="btn btn-danger mt-3">Delete</button>
    </form>
  </div>
{{else}}
  <h2 class="text-center">Sorry, there are no any data in ClipBase</h2>
{{/each}}
